<style>
    *{
        color: whitesmoke;
        background-color: black;
    }
    div{
        color: whitesmoke;
    }
</style>
<div class="mt-4">
    <a href="/", style="font-size: 20px;"><div class="muiten"><img src="https://i0.wp.com/s1.uphinh.org/2021/05/24/mor.png" alt="mor.png" border="0" /></div></a>
    <div class="row">
        <div class="col-lg-9">
            <h2>Họ và tên: {{course.name}}</h2>
            <p>Số điện thoại: {{course.phone}}</p>
            <p>Địa chỉ: {{course.address}}</p>
            <p>Giới tính: {{course.gender}}</p>
            <p>Gmail: {{course.gmail}}</p>
            <p>Ngày tạo: {{course.createdAt}}</p>
        </div>

    </div>
</div>